/*
  reset---------------------------------------
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	box-sizing: border-box;
	font-family: helvetica, arial, sans-serif;
}

/*
  header-----
*/
header {
	display: block;
	padding: 10px, 0, 10px, 0;
	color: #50a0dc;
	line-height: 50px;
	font-size: 32px;
	letter-spacing: -.5px;
	font-weight: 500;
	border-bottom: silver 1px solid;
}

header h1 {
	margin-left: 50px;
}

header h1:hover {
	cursor: pointer;
}

/*
  .container-----
*/
.container {
	width: 750px;
	height: auto;
	border: silver 1px solid;
	border-radius: 5px;
	margin: 25px 0 0 150px;
}


/*
  #tweet-bar-----
*/
#tweet-bar {
	width: 750px;
	height: 40px;
	background-color: #50a0dc;
	-webkit-appearance: none;
}

#tweet-bar section {
	float: left;
	color: #fff;
	margin: 4px 5px 2px 0px;
	-webkit-appearance: none;
}

#username {
	width: 108px;
	line-height: 32px;
	font-size: 20px;
	margin-left: 10px;
}

#username:hover {
	cursor: pointer;
}


#icon {
	height: 30px;
}

#colon {
	line-height: 34px;
	font-size: 20px;
	font-weight: 600;
}

#text-box {
	width: 450px;
	line-height: 27px;
	font-size: 18px;
}

#post-button {
	width: 110px;
	background-color: #30ca91;
	border: #41dba2 1px solid;
	height: 32px;
	color: #fff;
	font-size: 24px;
}

#post-button:hover {
	cursor: pointer;
}

/*
  #tweet-area-----
*/
#tweet-area {
	clear: both;
	padding-top: 25px;
	width: 750px;
	background-color: #eee;
	text-align: left;
}

#refresh {
	font-size: 14px;
	color: black;
	text-align: center;
	padding-bottom: 10px;
	margin-top: -10px;
	text-decoration: underline;
	font-weight: 500;
	letter-spacing: 1px;
}

#refresh:hover {
	color: blue;
	cursor: pointer;
}

/*
  .tweet-----
*/
.wrapper {
	margin: 0px 10px 10px 10px;
	width: 730px;
	height: 100px;
	background-color: #d4e8f7;
	color: #000;
	font-size: 22px;
	border: 1px silver solid;
}

.profile-pic {
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 45px;
	margin-top: 3px;
}

.profile-pic img {
	height: 60px;
	width: 60px;
	float: left;
}

.profile-pic img:hover {
	cursor: pointer;
}

.message {
	float: left;
	margin: 10px 0 10px 40px;
	width: 575px;
	height: 80px;
	background-color: #fff;
	overflow: hidden;
}

.message p {
	margin: 10px 0 0 15px;
}

.username {
	clear: left;
	float: left;
	font-size: 14px;
	margin-top: -35px;
	margin-left: 5px;
	width: 130px;
	text-align: center;
}

.username p {
	text-align: center;
	text-decoration: underline;
	font-weight: 600;
}

.username p:hover {
	cursor: pointer;
}

.time {
	clear: left;
	float: left;
	font-size: 11px;
	margin-top: -15px;
	margin-left: 5px;
	width: 130px;
	font-weight: 200px;
	text-align: center;
}